@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --color-primary: #ffc500;
    --color-copy:#333333;
    --default-padding: 1rem;
    --color-secondary: #4f9bd9;
    color: var(--color-copy);
}

body {
    margin: 0;
    padding-top:7.75rem;    
}

header, main, footer {
    overflow-x: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #000;
    color: #FFF;
    opacity: .95;
}

.navbar__container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;

    width: 100vw;
    height: 7.75rem;
    padding: 0 1rem;
}

.navbar__links{
    justify-self: end;
}

.navbar__links li{
    font-size: .875rem;
    margin-right: 2rem;
    text-transform: uppercase;
}
.navbar__links a{
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
}

.navbar__links a:hover{
    color: var(--color-secondary);
}

.logo-studion {
    font-size: 2.375rem; /* por padrao sempre o numero dividido por 16*/
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    line-height: 1ch; /* relativa ao tamanho da altura do glifo 0 da fonte */
}

.logo-studion__subtitle {
    font-size: .875rem;
    font-weight: 300;
}

.copy-primary {
    color: var(--color-secondary);
}

#slider {
    background-color: #000;
    color: #FFF;
}

.slide {
    position: relative;
    height: calc(100vh - 7.75rem);
}

.slide__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .9;
}

.slide__copy {
    position: absolute;
    top: 1.25rem;
    left: 50vw;
}

.slide__copy h6 {
    font-size: .9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1875rem;
    text-shadow: .125rem .125rem .250rem #000;
}

.slide__copy h2 {
    font-size: 6.25rem;
    text-transform: uppercase;
    line-height: 6.25rem;
    text-shadow: .125rem .125rem .250rem #000;
}

.slide__copy h2 span {
    display: block;
    text-shadow: .125rem .125rem .250rem #000;
}

.btn {
    cursor:pointer;
    padding: 1rem 2.5rem;
    border: .125 solid #fff;
    border-radius: 5rem;
    color: var(--color-secondary);
    background:unset;
    font-size: .9375rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s all ease;
    }

    .btn:hover, .btn:active, .btn:focus, .btn--institutional {
        border-color: var(--color-secondary);
        background-color: var(--color-secondary);
        color: #fff;  
    }

    #counter {
        background-color: var(--color-secondary);
        color: #fff;
        text-transform: uppercase;
    }

    .counter__countainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        place-items: center;
        padding: 4.375rem 1rem;
    }

    .counter__countainer h3 {
        font-size: 2.1875rem;
    }
    .counter__countainer small {
        display: block;
        font-size: 1.25rem;
    }

    .institutional {
        display: grid;
        grid-template-columns: auto auto;
        gap: 3.125rem;
        align-items: center;
        padding: 4.375rem;
    }
    .institutional__image {
        max-width: 550px;
    }

    .institutional__copy {
        padding: 0 1.875rem;
    }

    .institutional__copy h6 {
        font-size: .875rem;
        font-weight: 300;
        letter-spacing: .1rem;
        text-transform: uppercase;
        margin: 0;
    }

    .institutional__copy h4 {
        font-size: 1.5625rem;
        margin-top: 1rem;
    }
    
    .institutional p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.0625rem;
        line-height: 1.6875rem;
        margin-bottom: 0;
        margin-bottom: 2.5rem;
    }

    .btn--institutional:hover {
        color: var(--color-copy);
        background: unset;
    }